body{
	background: #F3EAE3;
	display: grid;
	font-family: Fraunces;
}
.Contenedor{
	place-content: center;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	widows: 100%;
	max-width: 700px; 
}
.Imagenes{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	max-width: 310px;
}
.Imagenes div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	max-width: 310px;
}
.Imagenes div img{
	width: 100%;
}
.Imagenes .IMG2{
	display: none;
}
.Imagenes .IMG1 img{
	display: block;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
.Informacion{
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	max-width: 330px;
	background: #F9F9F9;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}
@media (max-width:700px){
	.Contenedor{
		flex-direction: column;
	}
	.Imagenes .IMG2{
		display: block;
	}
	.Imagenes .IMG2 img{
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	.Imagenes .IMG1{
		display: none;
	}
	.Imagenes{
		display: flex;
		background: #f9f9f9;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		max-width: 390px;
	}
	.Imagenes div{
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		display: flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		max-width: 390px;
	}
	.Informacion{
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-top-right-radius: 0px;
	}
}
.Informacion h2{
	width: 100%;
	font-size: 11px;
	letter-spacing: 4px;
	color: dimgray;
	font-family: Montserrat;
	font-weight: 100;
}
.Informacion >p{
	width: 100%;
	font-size: 17px;
	color: dimgray;
}
.Precios{
	display: flex;
	width: 100%;
}
.Precios>p{
	font-size: 34px;
	font-weight: 600;
	color: #417C66;
	margin-right: 20px;
}
s{
	font-size: 14px;
	color: dimgray;
	font-weight: 100;
}
.Carrito{
	color: white;
	gap: 14px;
	font-weight: 500;
	border-radius: 10px;
	width: 100%;
	width: 350px;
	background: #417C66;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.Carrito:hover{
	background:  #1A4031;
}